# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

OneAndroidApp/.gradle
OneAndroidApp/local.properties
OneAndroidApp/.idea/workspace.xml
OneAndroidApp/.idea/libraries
OneAndroidApp/.DS_Store
OneAndroidApp/build
OneAndroidApp/captures
OneAndroidApp/app/buildls